{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <title>{% trans 'Ստեղծել CV' %}</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/canapea_swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/canapea_color.css' %}">
    <link rel="stylesheet" href="{% static 'css/canapea_style.css' %}">
    <style>
      .all-cv_fileds p.ck-placeholder {
          white-space: pre-line !important;
      }
        .all-cv_fileds .ck.ck-content.ck-editor__editable ul, 
        .all-cv_fileds .ck.ck-content.ck-editor__editable ol {
           margin-block-start: 1em;
           padding-inline-start: 40px;
        }
        .all-cv_fileds .ck.ck-content.ck-editor__editable ol li {
            list-style: inherit;
            list-style-type: decimal;
        }
        .all-cv_fileds .ck.ck-content.ck-editor__editable ul li{
            list-style: inherit;
            list-style-type: disc;
        }
    </style>
</head>

<body>

    <div id="root">
        {% include 'includes/header.html' %}
        <!-- Main content -->
        <main class="content">
            <section class="section page-content">

                <!-- Breadcrumbs -->
                <div class="breadcrumbs">
                    <div class="cnt">
                        <div class="row">
                            <div class="col">
                                <ul class="breadcrumbs-list align-items-center">
                                    <li class="breadcrumbs-item">
                                        <a href="{% url 'home_page' %}" class="breadcrumbs-link">
                                            <span>{% trans 'Գլխավոր' %}</span>
                                        </a>
                                    </li>
                                    <li class="breadcrumbs-item">
                                        <a href="{% url 'jobs:job_list' %}" class="breadcrumbs-link">
                                            <span>Միացիր թիմին</span>
                                        </a>
                                    </li>
                                    {% if job.category %}
                                    <li class="breadcrumbs-item">
                                        <a href="{{job.category.get_absolute_url }}" class="breadcrumbs-link">
                                            <span>{{ job.category.name }}</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                    <li class="breadcrumbs-item">
                                        <span>{{ job.name }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Breadcrumbs end-->

                <!-- Crwate Cv -->
                <div>
                   <form method="POST" name="" enctype="multipart/form-data" id="cv_create">
                       {% csrf_token %}
                    <div class="cnt">
                        <div class="row">
                            <div class="col col-30">
                                <div class="user-info-left">
                                   
                                    <div class="cv_img_avatar">
                                        <div class="profile-image">
                                            <div class="image-previewer user_img-all">
                                                <div class="image-wrapper img_only_div">
                                                    <span class="preview-loader"></span>

                                                    <img src="{% static 'img/icons/cv-user.png' %}" class="default-user-img" alt="Username">
                                                    <a class="delete-btn delete-avatar" href="javascript:void(0);">
                                                        <img src="{% static 'img/icons/delete-avatar.svg' %}" alt="delete-avatar">
                                                    </a>
                                                    <div class="choose_on">
                                                        <input type="file" id="file-input" name="avatar" accept="image/png,image/jpeg,image/jpg,">
                                                        <img src="{% static 'img/icons/type-fille.svg' %}" class="choose_img" alt="Username">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="help-cv-text">
                                                <div class="align-items-center">
                                                    <img src="{% static 'img/icons/quest.svg' %}" class="alert-img" alt="{% trans 'Ծանուցում' %}">
                                                    <span>{% trans 'Նկարի չափս' %} - 500 x 500px<br>
                                                        {% trans 'Կցված ֆայլի ընդհանուր չափը չպետք է գերազանցի 3 ՄԲ-ը' %}
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="lf-fields">
                                        <div class="input-fields all-auth">
                                            <label for="name">{% trans 'Անուն Ազգանուն' %} *</label>
                                            <input type="text" id="name" name="name" value="" placeholder="{% trans 'Պողոս Պողոսյան' %}">
                                        </div>
                                        <div class="input-fields all-auth">
                                            <label for="birthday">{% trans 'Ծննդյան ամիս/օր/տարի' %} *</label>
                                            <input type="date" id="birthday" name="birthday" value="">
                                        </div>
                                        
                                        <div class="input-fields all-auth radio-gr">
                                            <p class="label-dis-in">{% trans 'Սեռ' %}</p>
                                            
                                            <label for="radio-1" class="checkbox-design align-items-center">
                                                <input type="radio" id="radio-1" class="" value="1" name="gender">
                                                <span class="checkbox-square"></span>{% trans 'Արական' %}
                                            </label>
                                            <label for="radio-2" class="checkbox-design align-items-center">
                                                <input type="radio" id="radio-2" class="" value="2" name="gender">
                                                <span class="checkbox-square"></span>{% trans 'Իգական' %}
                                            </label>
                                            <label for="radio-3" class="checkbox-design align-items-center">
                                                <input type="radio" id="radio-3" class="" value="3" name="gender">
                                                <span class="checkbox-square"></span>{% trans 'Այլ' %}
                                            </label>
                                            
                                        </div>
                                        
                                        <div class="input-fields all-auth">
                                            <label for="phone">{% trans 'Հեռախոսահամար' %} *</label>
                                            <div class="block-inputs">
                                                <div class="only_form">
                                                    <div class="form-generate d-flex">
                                                        <input type="number" size="40" name="phone" placeholder="+374(99) 99 99 99">
                                                        <button class="del_b flex-content-center">−</button>
                                                        <button class="add_b flex-content-center">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-fields all-auth">
                                            <label for="email">Email *</label>
                                            <input type="email" id="email" name="email" placeholder="poghosyan@gmail.com">
                                        </div>
                                        <div class="input-fields all-auth">
                                           <label for="address">{% trans 'Հասցե' %} *</label>
                                           <textarea id="address" name="address" rows="5" placeholder="{% trans 'Հայաստան, 0038, Երևան Շինարարների փող., 4 շենք' %}"></textarea>
                                       </div>
                                        
                                    </div>

                                </div>
                            </div>

                            <div class="col col-70">
                                <div class="all-head-info">
                                
                                    <div class="all-cv_fileds">
                                      
                                       <div class="input-fields all-auth">
                                           <label for="editor1">{% trans 'Մասնագիտական փորձ' %} *</label>
                                           <textarea class="editor" id="editor1" name="editor1"
                                                     placeholder="{% trans 'Ավելացրեք Ձեր աշխատանքային փորձը և ցանկացած այլ նշանակալի նվաճումները:' %}"></textarea>
                                       </div>
                                       
                                       <div class="input-fields all-auth">
                                           <label for="editor2">{% trans 'Կրթություն և դասընթաց' %} *</label>
                                           <textarea class="editor" id="editor2" name="editor2"
                                                     placeholder="{% trans 'Ավելացրեք Ձեր կրթությունը և մասնագիտական թրեյնինգները:' %}"></textarea>
                                       </div>
                                       
                                       <div class="input-fields all-auth">
                                           <label for="editor3">{% trans 'Մասնագիտական հմտություններ' %} *</label>
                                           <textarea class="editor" id="editor3" name="editor3"
                                                     placeholder="{% trans 'Մասնագիտական հմտություններն աշխատանքի, կրթության կամ թրեյնինգների արդյունքում ձեռք բերվող հմտություններն են և չափելի են։' %}"></textarea>
                                       </div>
                                       
                                       <div class="input-fields all-auth">
                                           <label for="editor4">{% trans 'Անձնական հմտություններ' %} *</label>
                                           <textarea class="editor" id="editor4" name="editor4"
                                                     placeholder="{% trans 'Անձնական հմտությունները բնութագրում են մարդու վարքագիծը և բնավորությունը: Այն քանակական չէ։' %}"></textarea>
                                       </div>
                                       
                                       <div class="input-fields all-auth">
                                           <label for="editor5">Լեզուներ *</label>
                                           <textarea class="editor" id="editor5" name="editor5"
                                                     placeholder="{% trans 'Հայերեն – Մայրենի' %}&#10;
                                                     {% trans 'Անգլերեն – Գերազանց' %}&#10;
                                                     {% trans 'Ռուսերեն – Միջին' %}&#10;
                                                     {% trans 'Չինարեն – Սկսնակ' %}"></textarea>
                                       </div>
                                       
                                       <div class="input-fields all-auth">
                                           <label for="editor6">{% trans 'Այլ տեղեկություններ' %}</label>
                                           <textarea class="editor" id="editor6" name="edito6"
                                                     placeholder="{% trans 'Հոբբիների և հետաքրքրությունների գրառումը կարող է հավելյալ աջակցություն լինել և անհատականացնել Ձեր ինքնակենսագրությունը։' %}"></textarea>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col">
                                <div class="send-cv_button">
                                    <button type="submit" id="cv_button" class="button big dark">
                                        {% trans 'Ուղարկել' %}
                                        <img src="{% static 'img/icons/big-arrow.svg' %}" alt="{% trans 'Մանրամասն' %}">
                                    </button>

                                </div>
                            </div>

                        </div>
                    </div>
                    </form>
                </div>
                <!-- Account end -->

            </section>
        </main>
        {% include 'includes/footer.html' %}
    </div>

    <script src="{% static 'js/canapea3.6_main.js' %}"></script>
    <script src="{% static 'js/canapea_script.js' %}"></script>
    <script src="{% static 'js/canapea_swiper.js' %}"></script>
    <script src="{% static 'js/canapea_swiperexpress.js' %}"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="{% static 'js/canapea_account.js' %}"></script>
    <script>
        // Validation
        var editorTextarea = document.querySelectorAll('.editor');
        for (var i = 0; i < editorTextarea.length; ++i) {

            ClassicEditor.create(editorTextarea[i])

                .then(editor => {
                    editorTextarea = editor;
                })
                .catch(error => {
                    console.error(error);
                });
        }
        $("#cv_create").validate({
            ignore: [],
            rules: {
                editor1: {
                    required: true
                },
                editor2: {
                    required: true
                },
                editor3: {
                    required: true
                },
                editor4: {
                    required: true
                },
                editor5: {
                    required: true
                },
//                avatar: {
//                    required: true
//                },
                name: {
                    required: true
                },
                birthday: {
                    required: true
                },
                gender: {
                    required: true
                },
                phone: {
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                address: {
                    required: true
                }
            },

            messages: {
                editor1: {
                    required: "{% trans 'Դաշտը պարտադիր է լրացման համար' %}"
                },
                editor2: {
                    required: "{% trans 'Դաշտը պարտադիր է լրացման համար' %}"
                },
                editor3: {
                    required: "{% trans 'Դաշտը պարտադիր է լրացման համար' %}"
                },
                editor4: {
                    required: "{% trans 'Դաշտը պարտադիր է լրացման համար' %}"
                },
                editor5: {
                    required: "{% trans 'Դաշտը պարտադիր է լրացման համար' %}"
                },
//                avatar: {
//                   required: "Ավելացրեք Ձեր նկարը"
//                },
                name: {
                    required: "{% trans 'Դաշտը պարտադիր է լրացման համար' %}"
                },
                birthday: {
                    required: "{% trans 'Դաշտը պարտադիր է լրացման համար' %}"
                },
                gender: {
                    required: "{% trans 'Ընտրեք սեռը' %}"
                },
                phone: {
                   required: "{% trans 'Դաշտը պարտադիր է լրացման համար' %}"
                },
                email: {
                    required: "{% trans 'Դաշտը պարտադիր է լրացման համար' %}",
                    email: "{% trans 'Մուտքագրեք Ձեր Էլ. Փոստի հասցեն' %}"
                },
                address: {
                    required: "{% trans 'Դաշտը պարտադիր է լրացման համար' %}"
                }

            },
            submitHandler: function(form) {
                form.submit();

            }

        });

        // Image Src  
        const imgPreviewers = document.querySelectorAll(".image-previewer");
        const imgPreviews = document.querySelector(".image-previewer .default-user-img");
        const imgPrevInputs = document.querySelectorAll(
            ".image-previewer input[type=file]"
        );
        const imgPrevDelBtns = document.querySelectorAll(
            ".image-previewer .delete-btn"
        );

        // Deleting Image Preview
        imgPrevDelBtns.forEach((delBtn) => {
            delBtn.addEventListener("click", function(e) {
                const parentEl = this.closest(".image-previewer");
                const targetImg = parentEl.querySelector(".default-user-img");

                targetImg.setAttribute("src", "/static/img/icons/cv-user.png");
                parentEl.classList.remove("is-selected");
            });
        });

        // Checking Img Src when document loads
        document.addEventListener("DOMContentLoaded", () => {
            imgPreviewers.forEach((previewer) => {
                imgPreviews.forEach((img) => {
                    if (img.getAttribute("src")) {
                        img.closest(".image-previewer").classList.add("is-selected");
                    } else {
                        previewer.classList.remove("is-selected");
                    }
                });
            });
        });

        // Updating Image Preview
        imgPrevInputs.forEach((input) => {
            input.addEventListener("change", function(e) {
                const file = this.files[0];
                const parentEl = input.closest(".image-previewer");
                const targetImg = parentEl.querySelector("img");
                const prevLoader = parentEl.querySelector(".preview-loader");

                if (file) {
                    prevLoader.classList.add("is-loading");
                    getImageAsDataURL(file, targetImg);
                    parentEl.classList.add("is-selected");

                    setTimeout(() => {
                        prevLoader.classList.remove("is-loading");
                    }, 200);
                }
            });
        });

        // Get Image file as Data URL
        const getImageAsDataURL = (file, imgSrc) => {
            const reader = new FileReader();
            reader.onload = function() {
                imgSrc.setAttribute("src", this.result);
            };
            reader.readAsDataURL(file);
        };

        
        // Add phone field
        $('.block-inputs').on('click', '.add_b', function(e) {
            e.preventDefault();
            let $parent = $(this).parent();
            let $clone = $parent.clone();
            $parent.after($clone);
            $clone.find('input').val('').focus();
        });

        // Удаление блока
        $('.block-inputs').on('click', '.del_b', function(e) {
            e.preventDefault();
            let $parent = $(this).parent();
            // Предотвращение удаления единственного блока
            if ($parent.siblings().length) {
                $parent.remove();
            }
        });
    </script>

</body>

</html>