{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport'
          content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <title>{% if category.meta_title %}{{ category.meta_title }}{% else %}{{ category.name }} | {{ domain }}{% endif %}</title>
    <meta name="Description" content="{% if category.meta_description %}{{ category.meta_description }}{% endif %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/canapea_swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/canapea_color.css' %}">
    <link rel="stylesheet" href="{% static 'css/canapea_style.css' %}">
</head>

<body>

<div id="root">
    {% include 'includes/header.html' %}
    <main class="content">
        <section id="shop-page-content" class="section page-content">

            <!-- Breadcrumbs -->
            <div class="breadcrumbs">
                <div class="cnt">
                    <div class="row">
                        <div class="col">
                            <ul class="breadcrumbs-list align-items-center">
                                <li class="breadcrumbs-item">
                                    <a href="{% url 'home_page' %}" class="breadcrumbs-link">
                                        <span>{% trans 'Գլխավոր' %}</span>
                                    </a>
                                </li>
                                <li class="breadcrumbs-item">
                                    <a href="{% url 'jobs:job_list' %}" class="breadcrumbs-link">
                                        <span>{% trans 'Միացիր թիմին' %}</span>
                                    </a>
                                </li>
                                <li class="breadcrumbs-item">
                                    <span>{{ category.name }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumbs end-->

            <!-- Page Banner -->
            <div class="page-banner">
                <div class="cnt">
                    <div class="row">
                        <div class="col">
                            <div class="page-banner-img"
                                 style="background-image: url(
                                         {% if category.breadcrumbs_image %}{{ category.breadcrumbs_image.url }}{% else %}{% static 'img/pb.jpg' %}{% endif %});">
                                <div class="page-banner-text">
                                <h1>{{ category.name }}</h1>
                                    {% if category.breadcrumbs_text %}
                                        {{ category.breadcrumbs_text|safe }}{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Banner end -->

            <!-- Job -->
            <div class="section job-cnt">
                <div class="cnt">
                    <div class="row">
                        <div class="col col-4 sh-pg">
                            <div class="nav-offcanvas-content">
                                <div id="op-time" class="params-on-tit job-on-tit">
                                    <h3 class="align-items-center">
                                        <img src="{% static 'img/icons/catalog-white.svg' %}" class="cat-name-mr"
                                             alt="{% trans 'Բաժիններ' %}"><span>{% trans 'Բաժիններ' %}</span>
                                        <img src="{% static 'img/icons/cat-down.svg' %}" class="d-none ml-auto"
                                             alt="{% trans 'Բաժիններ' %}">
                                    </h3>
                                </div>
                                <nav class="block-content">
                                    <ul id="cat-names">
                                        {% for job_category in job_categories %}
                                            <li class="">
                                                <a href="{{ job_category.get_absolute_url }}"
                                                   class="sub-tit {% if job_category.slug in request.get_full_path %}active{% endif %}">{{ job_category.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div>
                            <div class="job-page-video">
                                <div class="video-block">

                                    <iframe width="100%" height="auto"
                                            src="{% if video.video_url %}{{ video.video_url }}{% elif video.video_file %}{{ video.video_file.url }}{% endif %}"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>
                        <div class="col col-9">
                            {% if page_obj.object_list|length < 1 %}
                                <div class="no-result">
                                    <div class="alert alert-danger">
                                        <div class="align-items-center">
                                            <span>{% trans 'Թափուր հաստիքները բացակայում են։' %}</span>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div id="products-cont">
                                    <div class="row">

                                        <div class="col col-2">
                                            <!-- Jobitem-->
                                            {% for job in page_obj %}
                                                {% include 'includes/job_item.html' %}
                                            {% endfor %}
                                            <!-- Job item end -->
                                        </div>
                                    </div>
                                    {% if page_obj.paginator.num_pages > 1 %}
                                        {% include 'includes/pagination.html' %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Job end -->
        </section>
    </main>
    {% include 'includes/footer.html' %}
</div>

<script src="{% static 'js/canapea3.6_main.js' %}"></script>
<script src="{% static 'js/canapea_script.js' %}"></script>
<script src="{% static 'js/canapea_swiper.js' %}"></script>
<script src="{% static 'js/canapea_swiperexpress.js' %}"></script>
</body>

</html>