{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport'
          content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <title>{% if job.meta_title %}{{ job.meta_title }}{% else %}{{ job.name }} | {{ domain }}{% endif %}</title>
    <meta name="Description" content="{% if job.meta_description %}{{ job.meta_description }}{% endif %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/canapea_swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/canapea_color.css' %}">
    <link rel="stylesheet" href="{% static 'css/canapea_style.css' %}">
</head>

<body>

<div id="root">

    <!-- header-->
    {% include 'includes/header.html' %}
    <main class="content">
        <section class="section page-content">

            <!-- Breadcrumbs -->
            <div class="breadcrumbs">
                <div class="cnt">
                    <div class="row">
                        <div class="col">
                            <ul class="breadcrumbs-list align-items-center">
                                <li class="breadcrumbs-item">
                                    <a href="{% url 'home_page' %}" class="breadcrumbs-link">
                                        <span>{% trans 'Գլխավոր' %}</span>
                                    </a>
                                </li>
                                <li class="breadcrumbs-item">
                                    <a href="{% url 'jobs:job_list' %}" class="breadcrumbs-link">
                                        <span>{% trans 'Միացիր թիմին' %}</span>
                                    </a>
                                </li>
                                {% if job.category %}
                                <li class="breadcrumbs-item">
                                    <a href="{{ job.category.get_absolute_url }}" class="breadcrumbs-link">
                                        <span>{{ job.category.name }}</span>
                                    </a>
                                </li>
                                {% endif %}
                                <li class="breadcrumbs-item">
                                    <span>{{ job.name }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Breadcrumbs end-->

            <!-- Job full -->
            <div class="job-full-page">
                <div class="cnt">

                    <div class="row">
                        <div class="col">
                            {% include 'includes/message.html' %}
                            <div class="two-version-title">
                                <h1>{{ job.name }}</h1>
                                <ul class="job-min-info job-full-minfo">
                                {% if job.employment_term %}
                                    <li class="align-items-center">
                                        <img src="{% static 'img/icons/job-mark.svg' %}" alt="job">
                                        <span class="align-items-center">
                                          <b>{% trans 'Աշխատանքի պայմաններ՝' %}</b><span>{{ job.employment_term.title}}</span>
                                      </span>
                                    </li>
                                {% endif %}
                                    {% if job.category %}
                                    <li class="align-items-center">
                                        <img src="{% static 'img/icons/job-mark.svg' %}" alt="job">
                                        <span class="align-items-center">
                                          <b>{% trans 'Կատեգորիա՝' %}</b><span>{{ job.category.name }}</span>
                                      </span>
                                    </li>
                                    {% endif %}
                                {% if job.job_type %}
                                    <li class="align-items-center">
                                        <img src="{% static 'img/icons/job-mark.svg' %}" alt="job">
                                        <span class="align-items-center">
                                          <b>{% trans 'Աշխատանքի տեսակը՝' %}</b><span>{{ job.job_type.title }}</span>
                                      </span>
                                    </li>
                                {% endif %}
                                {% if job.location %}
                                    <li class="align-items-center">
                                        <img src="{% static 'img/icons/job-mark.svg' %}" alt="job">
                                        <span class="align-items-center">
                                          <b>{% trans 'Գտնվելու վայրը՝' %}</b><span>{{ job.location.title }}</span>
                                      </span>
                                    </li>
                                {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        {% if job.large_description %}
                        <div class="col">
                            <div class="all-paragraphs-styles job-full-styles">
                                {{ job.large_description|safe }}
                            </div>
                        </div>
                        {% endif %}
                        <div class="col">
                            <div class="job-buttons">
                                <button class="button big cv" id="attachCV">
                                    <img src="{% static 'img/icons/cv-attach.svg' %}" alt="{% trans 'Բեռնել CV' %}"
                                    >{% trans 'Ուղարկել CV' %}
                                </button>
                                <a href="{% url 'jobs:create_cv' slug=job.slug %}" class="button big dark">{% trans 'Դիմել Օնլայն' %}</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Job full end -->

        </section>
    </main>
    <!-- Main content end -->
    {% include 'includes/footer.html' %}

    <div class="cv-modal">
        <form method="post" action="{% url 'jobs:job_details' slug=job.slug %}"
              id="sendCv" class="flex-content-center" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="job" value="{{ job.id }}">
            <img src="{% static 'img/icons/close-alter.svg' %}" alt="{% trans 'Փակել' %}" id="cv-close">
            <div class="cv-modal-header">{% trans 'Բեռնել իմ CV–ն' %}</div>
            <div class="cv-modal-body">
                <div class="attach-my_cv">
                    <div class="box-cv">
                        <input type="file" id="job_cv" name="cv" accept=".jpg,.png,.pdf,">
                        <label for="job_cv" id="bl-add" class="flex-content-center">
                            <figure class="align-items-center">
                                <img src="{% static 'img/icons/cv-attach.svg' %}"
                                     alt="{% trans 'Բեռնել CV' %}"><b>{% trans 'Բեռնել' %}</b>
                            </figure>
                            <span id="fname"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="cv-modal-footer">
                <button type="submit" id="SendMyCv" class="button big dark"
                        name="submit">{% trans 'Ուղարկել' %}
                    <img src="{% static 'img/icons/big-arrow.svg' %}"
                         alt="{% trans 'Ուղարկել' %}">
                </button>
            </div>
        </form>
    </div>
    <div class="cv-overlay"></div>

</div>

<script src="{% static 'js/canapea3.6_main.js' %}"></script>
<script src="{% static 'js/canapea_script.js' %}"></script>
<script src="{% static 'js/canapea_swiper.js' %}"></script>
<script src="{% static 'js/canapea_swiperexpress.js' %}"></script>
<script>
    // Cv Modal
    $('#attachCV').click(function () {
        $('body').addClass('opened-noscroll');
        $('.cv-modal,.cv-overlay').addClass('block-important');
    });
    $('#cv-close').click(function () {
        $('body').removeClass('opened-noscroll');
        $('.cv-modal,.cv-overlay').removeClass('block-important');
    });

    // Attach file
    $('body').on('change', '#job_cv', function () {
        var file = this.value.split('\\');
        $("#fname").text(file[file.length - 1]);
        $("label#bl-add").css({'background-color': '#fff'});
    });

    $("#SendMyCv").click(function (e) {
        var vidFileLength = $("#job_cv")[0].files.length;
        if (vidFileLength === 0) {
              e.preventDefault();
            $("label#bl-add").css({'background-color': '#ffbdbd'});
        } else {
            $("#sendCv").submit();
        }

    });


</script>

</body>

</html>