{% load currency %}{% load static %}{% load my_url %}{% load i18n %}
<div class="deliver-sum flex-center-between" style="color: brown;" id="promoDisplay">
    <p class="money-tit"><b  style="color: brown;">{% trans 'Զեղչվում է' %}՝</b></p>
    <p class="money-qty">
        <b  style="color: brown;">
            <span class="sale-p minicon" style="margin-right: -3px;">-</span>
            <span class="sale-p wh-point sale-price"></span>
        </b>
        <span class="valyuta"><b  style="color: brown;">{{request.session.currency}}</b></span>
    </p>
</div>
