{% extends 'users/register.html' %}
{% load i18n %}
{% load static %}
{% block h1 %}{% trans 'Ստեղծել գաղտնաբառ' %}{% endblock h1 %}
{% block content %}
<div id="create-pass">
    <div class="input-fields all-auth">
        <!-- Create Pass fields -->
        <form id="CreatePassword" action="{% url 'users:set_password' %}" method="post">

            <div class="only_form">
                <div class="input-fields all-auth">
                    <label for="companyPassword">{% trans 'Գաղտնաբառ' %} *</label>
                    <img src="{% static 'img/icons/eye-sign.svg' %}" toggle="#password-field" class="toggle-password">
                    <input type="password" id="companyPassword" name="companyPassword" placeholder="">
                </div>

                <div class="input-fields all-auth">
                    <label for="confirmPassword">{% trans 'Կրկնել գաղտնաբառը' %} *</label>
                    <img src="{% static 'img/icons/eye-sign.svg' %}" toggle="#password-field" class="toggle-password">
                    <input type="password" id="companyPasswordConfirm" name="companyPasswordConfirm" placeholder="">
                </div>
                <div class="line-inputs-group">
                    <div class="butt-sign">
                        <input type="submit" id="CompanyRegister" class="button big dark" name="submit"
                               value="{% trans 'Գրանցվել' %}">
                    </div>
                </div>

            </div>
        </form>
        <!-- Create Pass fields end -->

    </div>
</div>
{% endblock %}

{% block js %}
    <script>
     localStorage.removeItem('sent_code')
     localStorage.removeItem('phone_number')
    </script>
{% endblock js %}
