{% load i18n %}
<ul class="align-items-center">
    <li>
        <label class="checkbox-design align-items-center">
            <input
                    type="checkbox"
                    class="check"
                    value="new"
                    id=""
                    name="top_filter"
            >
            <span class="checkbox-square"></span>
            <span class="check-name">{% trans 'Նորույթ' %}</span>
        </label>
    </li>
    <li>
        <label class="checkbox-design align-items-center">
            <input
                    type="checkbox"
                    class="check"
                    value="sale"
                    id=""
                    name="top_filter"
            >
            <span class="checkbox-square"></span><span
                class="check-name">{% trans 'Ակցիա' %}</span>
        </label>
    </li>
    <li>
        <label class="checkbox-design align-items-center">
            <input
                    type="checkbox"
                    class="check"
                    value="special_offer"
                    id=""
                    name="top_filter"
            >
            <span class="checkbox-square"></span>
            <span class="check-name">{% trans 'Հատտուկ առաջարկ' %}</span>
        </label>
    </li>
    <li>
        <label class="checkbox-design align-items-center">
            <input
                    type="checkbox"
                    class="check"
                    value="best_seller"
                    id=""
                    name="top_filter"
            >
            <span class="checkbox-square"></span>
            <span class="check-name">{% trans 'Բեսթսելեր' %}</span>
        </label>
    </li>
</ul>
