{% load static %}{% load i18n %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <title>{% trans 'Գրանցում' %} | {{ domain }}</title>
    <meta name="Description" content="{% trans 'Գրանցում' %} 🍺 Beer City ☎ +374(33) 299 299">
    <!-- Open Graph -->
    <meta property="og:locale" content="hy_HY">
    <meta property="og:locale:alternate" content="en_US">
    <meta property="og:locale:alternate" content="ru_RU">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% trans 'Գրանցում' %}">
    <meta property="og:description" content="Beer City ☎ +374(33) 299 299">
    <meta property="og:url" content="{{ absolute_url }}">
    <meta property="og:site_name" content="{{ request.get_host|capfirst }}">
    <meta property="og:image" content="{{ full_path }}{% static 'img/share/register.jpg' %}">
    <meta property="og:image:secure_url" content="{{ full_path }}{% static 'img/share/register.jpg' %}">
    <!-- Open Graph end -->

    <!-- Alternate Languages -->
    {% if not request.GET.page %}
    <link rel="alternate" hreflang="hy" href="{{ hy_url }}" />
    <link rel="alternate" hreflang="en" href="{{ en_url }}">
    <link rel="alternate" hreflang="ru" href="{{ ru_url }}">
    {% endif %}
    <!-- Alternate Languages end -->
    <link rel="canonical" href="{{ absolute_url }}">

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/canapea_color.css' %}">
    <link rel="stylesheet" href="{% static 'css/canapea_style.css' %}">

</head>

<body>

    <div id="root">

        {% include 'includes/header.html' %}
        <!-- Main content -->
        <main class="content">
            <section class="section page-content">
                <div class="no-page-banner" style="background-image: url({% static 'img/shop-banner.jpg' %})"></div>

                <!-- Breadcrumbs -->
                <div class="breadcrumbs">
                    <div class="cnt">
                        <div class="row">
                            <div class="col">
                                <ul class="breadcrumbs-list align-items-center">
                                    <li class="breadcrumbs-item">
                                        <a href="{% url 'home_page' %}" class="breadcrumbs-link">
                                            <span>{% trans 'Գլխավոր' %}</span>
                                        </a>
                                    </li>
                                    <li class="breadcrumbs-item">
                                        <a href="{% url 'users:signin' %}" class="breadcrumbs-link">
                                            <span>{% trans 'Մուտք' %}</span>
                                        </a>
                                    </li>
                                    <li class="breadcrumbs-item">
                                        <span>{% trans 'Գրանցում' %}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Breadcrumbs end-->

                <div id="register">
                    <div class="cnt">
                        <div class="row">
                            <div class="col col-2 md-none">
                                <div class="sign-in-img">
                                    <img src="{% static 'img/register.jpg' %}" alt="{% trans 'Գրանցում' %}">
                                </div>
                            </div>
                            <div class="col col-2">
                                <div class="all-auth-wrap">
                                    <div class="all-forms-items">
                                        <div class="auth-title">
                                            <h1 class="auth_title-h1">{% trans 'Գրանցում' %}</h1>
                                        </div>

                                        {% include 'includes/message.html' %}

                                        <div class="only_form">
                                            <form id="register-form" method="post">
                                                <input type="hidden" name="" value="">

                                                <!--  Register Person fields -->
                                                <div class="two-inputs flex-center-between">
                                                    <div class="input-fields all-auth">
                                                        <label for="first_name">{% trans 'Անուն' %} *</label>
                                                        <input type="text" id="first_name" name="first_name">
                                                    </div>

                                                    <div class="input-fields all-auth">
                                                        <label for="last_name">{% trans 'Ազգանուն' %} *</label>
                                                        <input type="text" id="last_name" name="last_name">
                                                    </div>

                                                </div>

                                                <div class="input-fields all-auth">
                                                    <label for="email">{% trans 'Էլ. փոստ' %} *</label>
                                                    <input type="email" id="email" name="email">
                                                </div>

                                                    <div class="input-fields all-auth">
                                                        <label for="companyPassword">{% trans 'Գաղտնաբառ' %} *</label>
                                                        <img src="{% static 'img/icons/eye-sign.svg' %}" toggle="#password-field" class="toggle-password">
                                                        <input type="password" id="password" name="password">
                                                    </div>

                                                    <div class="input-fields all-auth">
                                                        <label for="confirmpassword">{% trans 'Կրկնել գաղտնաբառը' %} *</label>
                                                        <img src="{% static 'img/icons/eye-sign.svg' %}" toggle="#password-field" class="toggle-password">
                                                        <input type="password" id="password2" name="password2">
                                                    </div>

                                                <div class="line-inputs-group">
                                                    <div class="butt-sign">
                                                        <input type="submit" class="button big dark" name="submit" value="{% trans 'Գրանցվել' %}">
                                                    </div>
                                                </div>

                                                <div class="login-or-create">
                                                    <a href="{% url 'users:signin' %}" class="ls_butt">{% trans 'Արդեն ունե՞ք հաշիվ' %}<span>{% trans 'Մուտք գործել' %}</span></a>
                                                </div>
                                                <!--  Register Person fields end -->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </main>
        <!-- Main content end -->
        {% include 'includes/footer.html' %}
    </div>

    <script src="{% static 'js/canapea3.6_main.js' %}"></script>
    <script src="{% static 'js/canapea_script.js' %}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script>
      //Validate
      $(function () {
        $("#register-form").validate({
          rules: {
            first_name: "required",
            last_name: "required",
            email: {
              required: true,
              email: true,
            },
            password: {
              required: true,
              minlength: 8,
            },
            password2: {
              required: true,
              equalTo: "#password",
            },
          },
          messages: {
            first_name: "{% trans 'Դաշտը պարտադիր է լրացման համար' %}",
            last_name: "{% trans 'Դաշտը պարտադիր է լրացման համար' %}",
            email: {
              required: "{% trans 'Դաշտը պարտադիր է լրացման համար' %}",
              email: "{% trans 'Մուտքագրեք ճիշտ Էլ. փոստի հասցե' %}",
            },
            password: {
              required: "{% trans 'Դաշտը պարտադիր է լրացման համար' %}",
              minlength: "{% trans 'Գաղտնաբառը պետք է լինի 8 նիշ կամ ավելի երկար' %}",
            },
            password2: {
              required: "{% trans 'Դաշտը պարտադիր է լրացման համար' %}",
              equalTo: "{% trans 'Գաղտնաբառը չի համընկնում' %}",
            },
          },
          submitHandler: function (form) {
            form.submit();
          },
        });
      });
    </script>

</body>

</html>