{% load static %}{% load i18n %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <title>{% trans 'Մեր Մասին' %} | {{ request.get_host }}</title>
    <meta name="Description" content="">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/canapea_swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/canapea_color.css' %}">
    <link rel="stylesheet" href="{% static 'css/canapea_style.css' %}">
</head>

<body>

<div id="root">
    <!-- header-->
    {% include 'includes/header.html' %}
    <!-- Main content -->
    
    <main class="content">
        <section class="section page-content">
            <!-- Page Banner -->
            <div class="page-banner" style="background-image: url({% if st_content.breadcrumbs_image %}{{ st_content.breadcrumbs_image.url }}{% else %}{% static 'img/shop-banner.jpg' %}{% endif %});">
                <div class="cnt">
                    <div class="row">
                        <div class="col">
                            <div class="page-banner-text">
                                {% if st_content.page_title %}
                                    <h1>{{ st_content.page_title }}</h1>
                                {% endif %}
                                {% if st_content.breadcrumbs_text %}
                                  <p>{{ st_content.breadcrumbs_text|safe }}</p>      
                                {% endif %}
                            </div>
                        </div>
                        <!-- Breadcrumbs -->
                        <div class="col">
                            <div class="breadcrumbs">
                                <ul class="breadcrumbs-list align-items-center">
                                <li class="breadcrumbs-item">
                                    <a href="{% url 'home_page' %}" class="breadcrumbs-link">
                                        <span>{% trans 'Գլխավոր' %}</span>
                                    </a>
                                </li>
                                <li class="breadcrumbs-item">
                                    <span>{% trans 'Մեր մասին' %}</span>
                                </li>
                            </ul>
                            </div>
                        </div>
                        <!-- Breadcrumbs end-->
                    </div>
                </div>
            </div>
            <!-- Page Banner end -->
            
            <!-- About first text -->
            <div class="section about-page first">
                <div class="cnt">
                    <div class="row align-items-center">
                        <div class="col col-2">
                            {% if abouts.url %}
                                <div class="ab-p">
                                    <video src="{{ abouts.url }}"></video>
                                </div>
                            {% elif not abouts.url and file_extension == 'video' %}
                                <div class="ab-p">
                                    <video src="{{ abouts.file.url }}"></video>
                                </div>
                            {% else %}
                                <div class="ab-p">
                                    <img src="{% static 'img/ab.jpg' %}" alt="">
                                </div>
                            {% endif %}
                        </div>
                        <div class="col col-2">
                            {% if abouts.text %}
                                <div class="ab-p_txt">
                                    {{ abouts.text|safe }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- About first text end -->
            {% if advantages %}
                <!-- Bullets -->
                <section class="section bullets-canapea">
                    <div class="cnt">
                        <div class="row no-margs">
                            {% for adv in advantages %}
                                <div class="col-4">
                                    <div class="bullet-block text-center">
                                        <div class="bullet-img">
                                            <figure>
                                                <img
                                                        data-src="{% if adv.icon %}{{ adv.icon.url }}{% else %}{% static 'img/icons/b-1.svg' %}{% endif %}"
                                                        class="lozad" alt="{{ adv.name }}">
                                            </figure>
                                        </div>
                                        <div class="bullet-txt">
                                            <h3>{{ adv.name }}</h3>
                                            {% if adv.text %}<p>{{ adv.text|safe }}</p>{% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </section>
                <!-- Bullets end -->
            {% endif %}

            {% if our_goals %}
                <!-- About second text -->
                <div class="section about-page second">
                    <div class="cnt">
                        <div class="row align-items-center">
                            <div class="col col-2">
                                <div class="ab-p_txt">
                                    <h2>{% trans 'Beer City' %}</h2>
                                    <ul class="ab-goals">
                                        {% for goal in our_goals %}
                                            <li class="d-flex">
                                                <img src="{% static 'img/icons/ab-ic.svg' %}">
                                                <div class="ab-goal_desc">
                                                    <h3>{{ goal.name }}</h3>
                                                    {% if goal.text %}<p>{{ goal.text|safe }}</p>{% endif %}
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="col col-2">
                                <div class="ab-p">
                                    <img src="{% if goal_img %}{{ goal_img.image.url }}{% else %}{% static 'img/ab2.jpg' %}{% endif %}"
                                         alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- About second text end -->
            {% endif %}
            <!-- Review -->
            {% if bullets %}
            <section class="section bullets-canapea">
                <div class="cnt">
                    <div class="row no-margs">
                        {% for bullet in bullets %}
                            <div class="col-4">
                                <div class="bullet-block text-center">
                                    <div class="bullet-img">
                                        <figure>
                                            <img data-src="{{ bullet.icon.url }}" class="lozad"
                                                 alt="{{ bullet.title }}">
                                        </figure>
                                    </div>
                                    <div class="bullet-txt">
                                        <h3>{{ bullet.title }}</h3>
                                        {% if bullet.text %}<p>{{ bullet.text|safe }}</p>{% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}      
            <!-- Review end -->
            {% if posts %}
                <!-- Blog related -->
                <div class="blog-main">
                    <div class="cnt">

                        <div class="row">
                            <div class="col">
                                <div class="section-title">
                                    <div class="tith3 align-items-center">
                                        <span class="tith3-name">{% trans 'Բլոգ' %}</span>
                                        <a href="{% url 'blog_list' %}"
                                           class="tith3-link flex-content-center"
                                        >{% trans 'Տեսնել Ավելին' %}
                                            <img src="{% static 'img/icons/see-arrow.svg' %}"
                                                 alt="{% trans 'Տեսնել Ավելին' %}"></a>
                                    </div>
                                </div>
                            </div>
                            {% for post in posts %}
                                <div class="col col-3">
                                    {% include 'includes/blog_item.html' %}
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
                <!-- Blog related end -->
            {% endif %}
        </section>
    </main>
    <!-- Main content end -->
    {% include 'includes/footer.html' %}
</div>

<script src="{% static 'js/canapea3.6_main.js' %}"></script>
<script src="{% static 'js/canapea_script.js' %}"></script>
<script src="{% static 'js/canapea_swiper.js' %}"></script>
<script src="{% static 'js/canapea_swiperexpress.js' %}"></script>
</body>

</html>